h1 {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    background-color: #F8F8F8;
}

button {
    background-color: #FFBBAF;
}

th {
    background-color: #CFDD92;
}

footer {
    background-color: #fde27f;
}